# Arquivos de ambiente
.env

# Arquivos de ambiente virtual
.venv

# Diretórios de cache e bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de dados brutos e logs
dados_brutos/
dados_processados/
dados_manuais/
logs/

# Arquivos do IDE
.vscode/
.idea/

# Volumes do Docker
postgres_data/
elastic_data/